body{
	background-color:#c3c3c3;
}

.site{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-container{
	flex: 1;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #056277;
	color:#fff;
	font-size:22px;
}

.in2it-navbar{
	color:#fff;
	background-color:#056277;
	box-shadow: 0px 7px 15px #888888;
}

.nav-link{
	padding:10px 20px 0px 20px;
	color:#fff;
	font-size:18px;
}

.nav-link:hover{
	text-decoration: underline;
	color:#e3e3e3;
}

.logo-container{
	padding:0px;
	height: 60px;
	margin-left:20px;
}

.navbar-logo{
	width:100px;
	margin-right:20px;
}

.content-row{
	margin-top:20px;
	display:flex;
	flex-direction:row;
}

.content-col{
	margin-top:20px;
	display:flex;
	flex-direction:column;
}

.filters{
	background-color:#67abba;
	border-radius:12px;
	/* Hardcoding this for now because the datepicker
	   is only rendered on the client, which causes
	   the width the change abruptly after the page loads.
	   Maybe there's a better way to do this.
	*/
	min-width: 260px;
}

.events{
	margin-left:16px;
	margin-right:16px;
}

.no-event-message{
	padding:10px;
}

.form-group{
	margin-top:10px;
}

.accordion-button{
	background-color: #67abba;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	border-top:1px solid #056277;
}

.accordion-button:first-child{
	border-radius:12px 12px 0px 0px;
	border-top:0px;
}

.accordion-button:last-child{
	border-radius:0px 0px 12px 12px;
}

.active, .accordion-button:hover {
	background-color: #056277;
	color:#fff;
}

.accordion-button:after {
	content: '\002B';
	color: #444;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.accordion-panel {
	padding: 0 18px;
	background-color:#67abba;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion-panel.open{
	overflow: visible;
}

.event-listing-link:hover{
	text-decoration: none;
}

.event-listing{
	display:flex;
	padding:20px;
	justify-content: space-between;
	border-radius:12px;
	margin-bottom:16px;
	box-shadow: 1px 1px 4px #b3b3b3;
	border:1px solid #b3b3b3;
	cursor: pointer;
}

.event-listing:hover{
	background-color:#e3e3e3;
}

.event-listing-title{
	color:#444;
	font-size:22px;
}

.event-listing-time-location{
	color:#086478;
	font-size:18px;
}

.event-listing-description{
	color:#444;
	font-size:16px;
}

.event-card-icon{
	margin-bottom:8px;
}

.map-icon{
	width: 25px;
	height: 25px;
}

.calendar-icon{
	width: 25px;
	height: 25px;
}

.datepicker input{
	height:calc(2.25rem + 2px);
	padding:0.375rem 0.75rem;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#495057;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:0.25rem;
	transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.event-page-heading{
	font-size:36px;
}

.event-info-label{
	margin-bottom:0px;
	font-weight:bold;
}

.original-event-link{
	font-size:26px;
}