*{
	font-family: 'Roboto', 'regular';
}

body{
	background-color:#c3c3c3;
}

.site{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-container{
	flex: 1;
	margin-bottom:60px;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer-link{
	color:#7d8c9d;
	font-size:26px;
	margin:20px;
}

.in2it-navbar{
	color:#173450;
	height:120px;
}

.navbar-container{
	width:100%;
	display: flex;
	flex-direction: row;
}

.in2it-nav-link{
	display:flex;
	align-self: flex-end;
	padding:10px 20px 0px 20px;
	color:#173450;
	font-size:26px;
	font-weight:bold;
	line-height: 75px;
}

.in2it-nav-link:hover{
	text-decoration: none;
	color:#e3e3e3;
}

.in2it-nav-link-group{
	display:flex;
	flex-direction: row;
	margin-left: auto;
}

.in2it-brand{
	line-height:91px;
}

.logo-container{
	padding:0px;
	height: 60px;
	margin-left:20px;
}

.chihacknight-logo{
	height:58px;
	width:auto;
}

.navbar-logo{
	width:200px;
	margin-right:20px;
}

.landing-page-title{
	text-align: center;
	font-size: 56px;
	font-weight: 600;
	margin-top:30px;
}

.landing-page-tagline{
	text-align: center;
	font-size:24px;
	margin:0px;
}

.landing-page-image-row{
	margin-top:-100px;
	margin-bottom:20px;
}

.landing-page-image{
	z-index: 1;
	width:35vw;
	height:35vw;
	border-radius: 8px;
	display:flex;
	margin:8px;
}

.content-row{
	margin-top:20px;
	display:flex;
	flex-direction:row;
}

.content-col{
	margin-top:20px;
	display:flex;
	flex-direction:column;
}

.filters{
	margin-top:20px;
	margin-bottom:28px;
	border-radius: 5px;
	background-color:#173450;
	z-index:2;
}

.filter-row {
	margin-top:24px;
}

.filter-label{
	margin-bottom:0px;
	color:#fff;
	font-weight: bold;
}

.search-btn{
	background-color: #4ec0c5;
	padding:10px 50px 10px 50px;
	margin-bottom:-20px;
	border:none;
	border-radius:5px;
	color:#fff;
	font-size: 18px;
	font-weight: bold;
}

.search-btn:hover{
	background-color: #53a6aa;
}

.no-event-message{
	padding:10px;
}

.events-container{
	width:38vw;
}

.map-container{
	width:59vh;
}

.event-map{
	display:flex;
	width:60vw;
	height:80vh;
}

.form-group{
	margin-top:10px;
}

.event-listing-link:hover{
	text-decoration: none;
}

.event-listing{
	display:flex;
	padding:16px;
	justify-content: space-between;
	border-top:1px solid #b3b3b3;
	cursor: pointer;
	background-color: #287696;
}

.event-listing:hover{
	background-color: #4ec0c5;
}

.event-listing-title{
	color:#fff;
	font-size:24px;
	margin-top: 10px;
}

.event-listing-time-location{
	color:#fff;
	font-size:16px;
	margin-top:12px;
	margin-bottom:12px;
}

.event-listing-description{
	color:#fff;
	font-size:16px;
}

.event-card-icon{
	margin-bottom:8px;
}

.event-pagination{
	padding:16px;
	background-color: #173450;
	border-radius:0px !important;
}

.event-pagination-item a{
	margin-left: 16px;
	margin-right: 16px;
	font-size:20px;
	color:#fff;
}

.event-pagination-item a:hover, .event-pagination-prev-item a:hover, .event-pagination-next-item a:hover{
	color:#4ec0c5;
	text-decoration: none;
}

.event-pagination-prev-item a, .event-pagination-next-item a{
	margin-top:-10px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
}

.event-pagination-item.active a{
	color:#4ec0c5;
}

.map-icon{
	width: 25px;
}

.calendar-icon{
	width: 25px;
	height: 25px;
}

.datepicker input{
	height:calc(2.25rem + 2px);
	padding:0.375rem 0.75rem;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#495057;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:0.25rem;
	transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.event-page-heading{
	font-size:36px;
}

.event-info-label{
	margin-bottom:0px;
	font-weight:bold;
}

.original-event-link{
	font-size:26px;
}