body{
	background-color:#c3c3c3;
}

.site{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.page-container{
	flex: 1;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	background-color: #056277;
	color:#fff;
	font-size:22px;
}

.in2it-navbar{
	color:#fff;
	background-color:#056277;
	box-shadow: 0px 7px 15px #888888;
	height:120px;
}

.nav-link{
	padding:10px 20px 0px 20px;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	line-height: 75px;
}

.nav-link:hover{
	text-decoration: underline;
	color:#e3e3e3;
}

.in2it-brand{
	line-height:91px;
}

.logo-container{
	padding:0px;
	height: 60px;
	margin-left:20px;
}

.chihacknight-logo{
	height:58px;
	width:auto;
}

.navbar-logo{
	width:200px;
	margin-right:20px;
}

.landing-page-content{
	margin:56px;
}

.landing-page-title{
	text-align: center;
	font-size: 56px;
	font-weight: 600;
}

.landing-page-text{
	text-align: center;
	font-size:18px;
}

.landing-page-filters{
	margin:60px;
}

.content-row{
	margin-top:20px;
	display:flex;
	flex-direction:row;
}

.content-col{
	margin-top:20px;
	display:flex;
	flex-direction:column;
}

.filters{
	margin-top:20px;
	margin-bottom:28px;
	background-color:#67abba;
}

.filters-form-row{
	margin-top:16px;
}

.filter-label{
	margin-bottom:0px;
}

.filter-btn{
	margin-bottom:-20px;
	background-color: #e2e6ea;
}

.no-event-message{
	padding:10px;
}

.events-container{
	width:40%;
	height:80vh;
	overflow-y: scroll;
}

.map-container{
	width:60%;
}

.event-map{
	display:flex;
	width:58vw;
	height:80vh;
}

.form-group{
	margin-top:10px;
}

.event-listing-link:hover{
	text-decoration: none;
}

.event-listing{
	display:flex;
	padding:16px;
	justify-content: space-between;
	border-top:1px solid #b3b3b3;
	cursor: pointer;
	background-color: #287696;
}

.event-listing:hover{
	background-color: #4ec0c5;
}

.event-listing-title{
	color:#fff;
	font-size:24px;
	margin-top: 10px;
}

.event-listing-time-location{
	color:#fff;
	font-size:16px;
	margin-top:12px;
	margin-bottom:12px;
}

.event-listing-description{
	color:#fff;
	font-size:16px;
}

.event-card-icon{
	margin-bottom:8px;
}

.map-icon{
	width: 25px;
}

.calendar-icon{
	width: 25px;
	height: 25px;
}

.datepicker input{
	height:calc(2.25rem + 2px);
	padding:0.375rem 0.75rem;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#495057;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:0.25rem;
	transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.event-page-heading{
	font-size:36px;
}

.event-info-label{
	margin-bottom:0px;
	font-weight:bold;
}

.original-event-link{
	font-size:26px;
}