version: '3.6'
services:
  event_processor:
    image: in2itchicago/event_processor:20190922.2
    command: sh -c "chmod +x entrypoint.sh && ./entrypoint.sh"
    environment:
      - DEBUG=0
      - VERBOSE_OUTPUT=0
      - SCHEDULE_INTERVAL=120
      - RUN_SCHEDULER=1
    deploy:
      resources:
        limits:
          # Prevent 100% CPU usage
          cpus: '0.8'
  postgres:
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
  event_service:
    image: in2itchicago/event_service:20190922.2
    command: "yarn run start:prod"
  in2it_site:
    image: in2itchicago/in2it_site:20190922.2
    command: "yarn run start"
    environment:
      - "IN2IT_API_URL=${IN2IT_API_URL_PROD}"
  ndscheduler:
    image: in2itchicago/ndscheduler:20190922.2
    command: "python -u simple_scheduler/scheduler.py"
    environment:
      - DEBUG=0
  nginx:
    image: "nginx:1.17.3-alpine"