twisted
Scrapy
daterangeparser
timefhuman
python-dateutil 
bs4 
requests
icalendar
beaker
apscheduler
feedparser
ptvsd
usaddress
scrapyd
scrapyd-client
gql
# This fork fixes python3 compatibility for scrapy-jsonrpc: https://github.com/candale/scrapy-jsonrpc/commit/40d4ce351d9fb8bbd1ebe7e0f4912e86d6ae3d45
#git+git://github.com/candale/scrapy-jsonrpc@40d4ce351d9fb8bbd1ebe7e0f4912e86d6ae3d4